@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
     background: darkgray; 
}

.container{
    max-width: 450px;
    background: #747474;
    border-radius: 8px;
    box-shadow: 0px 0px 18px 10px rgba(0,0,0,1.4);
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
}

.Temperature-icon{
    font-size: 45px;
    color: #fff;
}

h1{
    color: #fff;
    letter-spacing: 1.2px;
    font-size: 30px;
}

#celsius, #fahrenheit, #kelvin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

input{
    flex: 5;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: 2px solid black;
    border-right: 0px;
    outline: none;
    border-radius: 8px 0 0 8px;
    padding: 0 10px;
    font-family: 'Roboto', sans-serif;
}

.icon{
    flex: 1;
    height: 60px;
    line-height: 60px;
    padding: 0 5px;
    text-align: center;
    font-size: 30px;
    color: #fff;
    border: 2px solid black;
    border-radius: 0 8px 8px 0;
}


.button{
    margin-top: 25px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}


.button button{
    border: none;
    outline: none;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
    background-color: #fff;
    color: #747474;
    outline: 2px solid black;
}

.button button:hover{
    background: #000;
    color: #fff;
}